.video-controls-button {
    width: 64px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-gray);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    background: orangered;
    transition: background 0.3s ease;
}

.video-controls-button svg {
    width: 30px;
    height: 30px;
    transition: fill 0.4s ease;
    fill: wheat;

}

.video-controls-button.active {
    background: var(--primary-color);
}

.video-controls-button.active svg {
    fill: black;
}

.video-controls-button:hover svg {
    transform: scale(1.2);
    transition: transform 0.4s ease;
}