.reaction-buttons {
    height: 48px;
    margin-left: 20px;
    display: flex;
    gap: 1px;
    user-select: none;
}

.reaction-buttons .reaction-button {
    height: 48px;
    width: 56px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reaction-button:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.reaction-button:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.reaction-button img{
    height: 26px;
    width: 26px;
    transition: transform 0.2s ease-in-out;
}

.reaction-button:hover img{
    transform: scale(1.2);
}