.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: var(--background-default);
    padding: 20px;
    gap: 10px;
}

.settings-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid var(--border-color-default);
    border-radius: 10px;
    padding: 10px 20px;
}

.settings-group-title{
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 18px;
}